In [1]:
import tensorflow as tf

import pathlib
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

np.set_printoptions(precision=4)

In [2]:
df_titanic = pd.read_csv("titanic.csv")
df_titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [3]:
df_titanic["Sex"] = df_titanic["Sex"].replace(['female','male'],[0,1])
df_titanic = df_titanic.drop(["Name"], axis=1)

In [4]:
train, test = train_test_split(df_titanic, test_size=0.2, random_state=42, shuffle=True)

In [5]:
x_test = test.drop(["Survived"], axis=1)
y_test = test["Survived"]
x_test, y_test

(     Pclass  Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
 296       1    1  47.0                        0                        0
 682       2    1  25.0                        1                        2
 535       3    1  69.0                        0                        0
 644       1    1  56.0                        0                        0
 623       2    1  57.0                        0                        0
 ..      ...  ...   ...                      ...                      ...
 25        3    0  38.0                        1                        5
 84        3    0  33.0                        3                        0
 10        3    0   4.0                        1                        1
 442       1    1   4.0                        0                        2
 762       1    1  46.0                        0                        0

         Fare
 296  30.5000
 682  41.5792
 535  14.5000
 644  35.5000
 623  12.3500
 ..       ...
 25   31.3875
 84   15.8500
 10   16.7000
 442  81.8583
 762  39.6000

 [178 rows x 6 columns],
 296    1
 682    0
 535    0
 644    1
 623    0
       ..
 25     1
 84     1
 10     1
 442    1
 762    0
 Name: Survived, Length: 178, dtype: int64)

In [6]:
x_train = train.drop(["Survived"], axis=1)
y_train = train["Survived"]
x_train, y_train

(     Pclass  Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
 730       2    1  23.0                        0                        0
 390       3    1  28.0                        2                        0
 118       3    0   2.0                        4                        2
 440       2    0  28.0                        0                        0
 309       1    0  18.0                        2                        2
 ..      ...  ...   ...                      ...                      ...
 106       3    1  29.0                        0                        0
 270       2    0  41.0                        0                        1
 860       2    1  24.0                        0                        0
 435       1    1  64.0                        1                        4
 102       3    1  33.0                        0                        0

          Fare
 730   13.0000
 390    7.9250
 118   31.2750
 440   13.0000
 309  262.3750
 ..        ...
 106    7.7750
 270   19.5000
 860   13.0000
 435  263.0000
 102    8.6542

 [709 rows x 6 columns],
 730    0
 390    0
 118    0
 440    1
 309    1
       ..
 106    1
 270    1
 860    0
 435    0
 102    0
 Name: Survived, Length: 709, dtype: int64)

In [7]:
x_train = tf.keras.utils.normalize(x_train, axis=1)
x_test = tf.keras.utils.normalize(x_test, axis=1)

In [8]:
x_train, x_test

(       Pclass       Sex       Age  Siblings/Spouses Aboard  \
 730  0.075431  0.037716  0.867461                 0.000000
 390  0.102251  0.034084  0.954345                 0.068168
 118  0.094345  0.000000  0.062897                 0.125793
 440  0.064651  0.000000  0.905111                 0.000000
 309  0.003802  0.000000  0.068439                 0.007604
 ..        ...       ...       ...                      ...
 106  0.099370  0.033123  0.960575                 0.000000
 270  0.043999  0.000000  0.901971                 0.000000
 860  0.073030  0.036515  0.876356                 0.000000
 435  0.003694  0.003694  0.236415                 0.003694
 102  0.087560  0.029187  0.963162                 0.000000

      Parents/Children Aboard      Fare
 730                 0.000000  0.490304
 390                 0.000000  0.270114
 118                 0.062897  0.983546
 440                 0.000000  0.420230
 309                 0.007604  0.997590
 ..                       ...       ...
 106                 0.000000  0.257534
 270                 0.021999  0.428986
 860                 0.000000  0.474693
 435                 0.014776  0.971519
 102                 0.000000  0.252588

 [709 rows x 6 columns],
        Pclass       Sex       Age  Siblings/Spouses Aboard  \
 296  0.017842  0.017842  0.838584                 0.000000
 682  0.041136  0.020568  0.514200                 0.020568
 535  0.042506  0.014169  0.977642                 0.000000
 644  0.015079  0.015079  0.844400                 0.000000
 623  0.034267  0.017133  0.976606                 0.000000
 ..        ...       ...       ...                      ...
 25   0.060435  0.000000  0.765505                 0.020145
 84   0.081402  0.000000  0.895423                 0.081402
 10   0.171529  0.000000  0.228706                 0.057176
 442  0.012196  0.012196  0.048785                 0.000000
 762  0.016471  0.016471  0.757654                 0.000000

      Parents/Children Aboard      Fare
 296                 0.000000  0.544188
 682                 0.041136  0.855201
 535                 0.000000  0.205447
 644                 0.000000  0.535289
 623                 0.000000  0.211598
 ..                       ...       ...
 25                  0.100724  0.632297
 84                  0.000000  0.430075
 10                  0.057176  0.954847
 442                 0.024392  0.998362
 762                 0.000000  0.652241

 [178 rows x 6 columns])

In [9]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(256, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(256, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))

model.compile(optimizer="adam",
             loss="sparse_categorical_crossentropy",
             metrics=["accuracy"])

model.fit(x_train, y_train, epochs=20)

Epoch 1/20
23/23 [==============================] - 0s 2ms/step - loss: 0.6356 - accuracy: 0.6587
Epoch 2/20
23/23 [==============================] - 0s 2ms/step - loss: 0.6114 - accuracy: 0.6827
Epoch 3/20
23/23 [==============================] - 0s 2ms/step - loss: 0.6054 - accuracy: 0.6714
Epoch 4/20
23/23 [==============================] - 0s 2ms/step - loss: 0.6028 - accuracy: 0.6953
Epoch 5/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5816 - accuracy: 0.6911
Epoch 6/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5896 - accuracy: 0.7038
Epoch 7/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5810 - accuracy: 0.7024
Epoch 8/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5808 - accuracy: 0.7038
Epoch 9/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5834 - accuracy: 0.7066
Epoch 10/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5639 - accuracy: 0.7264
Epoch 11/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5450 - accuracy: 0.7193
Epoch 12/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5357 - accuracy: 0.7348
Epoch 13/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5297 - accuracy: 0.7461
Epoch 14/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5253 - accuracy: 0.7433
Epoch 15/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5210 - accuracy: 0.7729
Epoch 16/20
23/23 [==============================] - 0s 2ms/step - loss: 0.5036 - accuracy: 0.7645
Epoch 17/20
23/23 [==============================] - 0s 2ms/step - loss: 0.4788 - accuracy: 0.7983
Epoch 18/20
23/23 [==============================] - 0s 2ms/step - loss: 0.4861 - accuracy: 0.7772
Epoch 19/20
23/23 [==============================] - 0s 2ms/step - loss: 0.4721 - accuracy: 0.8025
Epoch 20/20
23/23 [==============================] - 0s 2ms/step - loss: 0.4860 - accuracy: 0.7828

In [10]:
val_loss, val_acc = model.evaluate(x_test, y_test)
print(val_acc, val_loss)

6/6 [==============================] - 0s 1ms/step - loss: 0.5006 - accuracy: 0.7528
0.7528089880943298 0.5005815625190735

In [11]:
prediction = model.predict([x_test])

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=(<tf.Tensor 'IteratorGetNext:0' shape=(None, 6) dtype=float64>,). Consider rewriting this model with the Functional API.
6/6 [==============================] - 0s 1ms/step

In [12]:
prediction

array([[0.7313, 0.2687],
       [0.6661, 0.3339],
       [0.8396, 0.1604],
       [0.7103, 0.2897],
       [0.8515, 0.1485],
       [0.4979, 0.5021],
       [0.9297, 0.0703],
       [0.8802, 0.1198],
       [0.5255, 0.4745],
       [0.4858, 0.5142],
       [0.7413, 0.2587],
       [0.4063, 0.5937],
       [0.4014, 0.5986],
       [0.9265, 0.0735],
       [0.5317, 0.4683],
       [0.8398, 0.1602],
       [0.8834, 0.1166],
       [0.2115, 0.7885],
       [0.9152, 0.0848],
       [0.8479, 0.1521],
       [0.7743, 0.2257],
       [0.6493, 0.3507],
       [0.3428, 0.6572],
       [0.9064, 0.0936],
       [0.8721, 0.1279],
       [0.7418, 0.2582],
       [0.8264, 0.1736],
       [0.7845, 0.2155],
       [0.8501, 0.1499],
       [0.5966, 0.4034],
       [0.4343, 0.5657],
       [0.2425, 0.7575],
       [0.6437, 0.3563],
       [0.4788, 0.5212],
       [0.681 , 0.319 ],
       [0.8441, 0.1559],
       [0.8815, 0.1185],
       [0.7435, 0.2565],
       [0.3142, 0.6858],
       [0.0373, 0.9627],
       [0.3311, 0.6689],
       [0.9007, 0.0993],
       [0.3615, 0.6385],
       [0.8796, 0.1204],
       [0.8369, 0.1631],
       [0.8816, 0.1184],
       [0.841 , 0.159 ],
       [0.882 , 0.118 ],
       [0.8493, 0.1507],
       [0.8797, 0.1203],
       [0.8928, 0.1072],
       [0.8084, 0.1916],
       [0.8823, 0.1177],
       [0.8859, 0.1141],
       [0.3218, 0.6782],
       [0.8402, 0.1598],
       [0.732 , 0.268 ],
       [0.2782, 0.7218],
       [0.172 , 0.828 ],
       [0.2742, 0.7258],
       [0.7675, 0.2325],
       [0.3679, 0.6321],
       [0.8812, 0.1188],
       [0.5081, 0.4919],
       [0.5295, 0.4705],
       [0.7769, 0.2231],
       [0.8724, 0.1276],
       [0.4945, 0.5055],
       [0.8814, 0.1186],
       [0.9404, 0.0596],
       [0.8793, 0.1207],
       [0.174 , 0.826 ],
       [0.7565, 0.2435],
       [0.8819, 0.1181],
       [0.8778, 0.1222],
       [0.3024, 0.6976],
       [0.265 , 0.735 ],
       [0.5036, 0.4964],
       [0.7609, 0.2391],
       [0.8895, 0.1105],
       [0.8629, 0.1371],
       [0.883 , 0.117 ],
       [0.763 , 0.237 ],
       [0.88  , 0.12  ],
       [0.1636, 0.8364],
       [0.1966, 0.8034],
       [0.1545, 0.8455],
       [0.88  , 0.12  ],
       [0.8793, 0.1207],
       [0.9141, 0.0859],
       [0.0779, 0.9221],
       [0.6025, 0.3975],
       [0.8813, 0.1187],
       [0.2814, 0.7186],
       [0.8365, 0.1635],
       [0.4674, 0.5326],
       [0.8887, 0.1113],
       [0.882 , 0.118 ],
       [0.1771, 0.8229],
       [0.368 , 0.632 ],
       [0.372 , 0.628 ],
       [0.8406, 0.1594],
       [0.8751, 0.1249],
       [0.3453, 0.6547],
       [0.8898, 0.1102],
       [0.864 , 0.136 ],
       [0.5095, 0.4905],
       [0.442 , 0.558 ],
       [0.8549, 0.1451],
       [0.2948, 0.7052],
       [0.3259, 0.6741],
       [0.8819, 0.1181],
       [0.8879, 0.1121],
       [0.7417, 0.2583],
       [0.8823, 0.1177],
       [0.9112, 0.0888],
       [0.3305, 0.6695],
       [0.2806, 0.7194],
       [0.8805, 0.1195],
       [0.8566, 0.1434],
       [0.5388, 0.4612],
       [0.883 , 0.117 ],
       [0.7229, 0.2771],
       [0.7587, 0.2413],
       [0.4582, 0.5418],
       [0.7843, 0.2157],
       [0.7144, 0.2856],
       [0.4608, 0.5392],
       [0.4052, 0.5948],
       [0.1363, 0.8637],
       [0.649 , 0.351 ],
       [0.5873, 0.4127],
       [0.8816, 0.1184],
       [0.959 , 0.041 ],
       [0.835 , 0.165 ],
       [0.9554, 0.0446],
       [0.8743, 0.1257],
       [0.8752, 0.1248],
       [0.8815, 0.1185],
       [0.8819, 0.1181],
       [0.5141, 0.4859],
       [0.4681, 0.5319],
       [0.2744, 0.7256],
       [0.8914, 0.1086],
       [0.8687, 0.1313],
       [0.2094, 0.7906],
       [0.8805, 0.1195],
       [0.8639, 0.1361],
       [0.7045, 0.2955],
       [0.8821, 0.1179],
       [0.5042, 0.4958],
       [0.1266, 0.8734],
       [0.9226, 0.0774],
       [0.8854, 0.1146],
       [0.3556, 0.6444],
       [0.3932, 0.6068],
       [0.9573, 0.0427],
       [0.4889, 0.5111],
       [0.7031, 0.2969],
       [0.8635, 0.1365],
       [0.8541, 0.1459],
       [0.8763, 0.1237],
       [0.6907, 0.3093],
       [0.5845, 0.4155],
       [0.7651, 0.2349],
       [0.1565, 0.8435],
       [0.7641, 0.2359],
       [0.3507, 0.6493],
       [0.841 , 0.159 ],
       [0.7465, 0.2535],
       [0.1868, 0.8132],
       [0.5023, 0.4977],
       [0.8901, 0.1099],
       [0.6188, 0.3812],
       [0.7847, 0.2153],
       [0.1788, 0.8212],
       [0.1365, 0.8635],
       [0.6537, 0.3463]], dtype=float32)

In [13]:
prediction[0]
np.argmax(prediction[0])

0

In [14]:
prediction

array([[0.7313, 0.2687],
       [0.6661, 0.3339],
       [0.8396, 0.1604],
       [0.7103, 0.2897],
       [0.8515, 0.1485],
       [0.4979, 0.5021],
       [0.9297, 0.0703],
       [0.8802, 0.1198],
       [0.5255, 0.4745],
       [0.4858, 0.5142],
       [0.7413, 0.2587],
       [0.4063, 0.5937],
       [0.4014, 0.5986],
       [0.9265, 0.0735],
       [0.5317, 0.4683],
       [0.8398, 0.1602],
       [0.8834, 0.1166],
       [0.2115, 0.7885],
       [0.9152, 0.0848],
       [0.8479, 0.1521],
       [0.7743, 0.2257],
       [0.6493, 0.3507],
       [0.3428, 0.6572],
       [0.9064, 0.0936],
       [0.8721, 0.1279],
       [0.7418, 0.2582],
       [0.8264, 0.1736],
       [0.7845, 0.2155],
       [0.8501, 0.1499],
       [0.5966, 0.4034],
       [0.4343, 0.5657],
       [0.2425, 0.7575],
       [0.6437, 0.3563],
       [0.4788, 0.5212],
       [0.681 , 0.319 ],
       [0.8441, 0.1559],
       [0.8815, 0.1185],
       [0.7435, 0.2565],
       [0.3142, 0.6858],
       [0.0373, 0.9627],
       [0.3311, 0.6689],
       [0.9007, 0.0993],
       [0.3615, 0.6385],
       [0.8796, 0.1204],
       [0.8369, 0.1631],
       [0.8816, 0.1184],
       [0.841 , 0.159 ],
       [0.882 , 0.118 ],
       [0.8493, 0.1507],
       [0.8797, 0.1203],
       [0.8928, 0.1072],
       [0.8084, 0.1916],
       [0.8823, 0.1177],
       [0.8859, 0.1141],
       [0.3218, 0.6782],
       [0.8402, 0.1598],
       [0.732 , 0.268 ],
       [0.2782, 0.7218],
       [0.172 , 0.828 ],
       [0.2742, 0.7258],
       [0.7675, 0.2325],
       [0.3679, 0.6321],
       [0.8812, 0.1188],
       [0.5081, 0.4919],
       [0.5295, 0.4705],
       [0.7769, 0.2231],
       [0.8724, 0.1276],
       [0.4945, 0.5055],
       [0.8814, 0.1186],
       [0.9404, 0.0596],
       [0.8793, 0.1207],
       [0.174 , 0.826 ],
       [0.7565, 0.2435],
       [0.8819, 0.1181],
       [0.8778, 0.1222],
       [0.3024, 0.6976],
       [0.265 , 0.735 ],
       [0.5036, 0.4964],
       [0.7609, 0.2391],
       [0.8895, 0.1105],
       [0.8629, 0.1371],
       [0.883 , 0.117 ],
       [0.763 , 0.237 ],
       [0.88  , 0.12  ],
       [0.1636, 0.8364],
       [0.1966, 0.8034],
       [0.1545, 0.8455],
       [0.88  , 0.12  ],
       [0.8793, 0.1207],
       [0.9141, 0.0859],
       [0.0779, 0.9221],
       [0.6025, 0.3975],
       [0.8813, 0.1187],
       [0.2814, 0.7186],
       [0.8365, 0.1635],
       [0.4674, 0.5326],
       [0.8887, 0.1113],
       [0.882 , 0.118 ],
       [0.1771, 0.8229],
       [0.368 , 0.632 ],
       [0.372 , 0.628 ],
       [0.8406, 0.1594],
       [0.8751, 0.1249],
       [0.3453, 0.6547],
       [0.8898, 0.1102],
       [0.864 , 0.136 ],
       [0.5095, 0.4905],
       [0.442 , 0.558 ],
       [0.8549, 0.1451],
       [0.2948, 0.7052],
       [0.3259, 0.6741],
       [0.8819, 0.1181],
       [0.8879, 0.1121],
       [0.7417, 0.2583],
       [0.8823, 0.1177],
       [0.9112, 0.0888],
       [0.3305, 0.6695],
       [0.2806, 0.7194],
       [0.8805, 0.1195],
       [0.8566, 0.1434],
       [0.5388, 0.4612],
       [0.883 , 0.117 ],
       [0.7229, 0.2771],
       [0.7587, 0.2413],
       [0.4582, 0.5418],
       [0.7843, 0.2157],
       [0.7144, 0.2856],
       [0.4608, 0.5392],
       [0.4052, 0.5948],
       [0.1363, 0.8637],
       [0.649 , 0.351 ],
       [0.5873, 0.4127],
       [0.8816, 0.1184],
       [0.959 , 0.041 ],
       [0.835 , 0.165 ],
       [0.9554, 0.0446],
       [0.8743, 0.1257],
       [0.8752, 0.1248],
       [0.8815, 0.1185],
       [0.8819, 0.1181],
       [0.5141, 0.4859],
       [0.4681, 0.5319],
       [0.2744, 0.7256],
       [0.8914, 0.1086],
       [0.8687, 0.1313],
       [0.2094, 0.7906],
       [0.8805, 0.1195],
       [0.8639, 0.1361],
       [0.7045, 0.2955],
       [0.8821, 0.1179],
       [0.5042, 0.4958],
       [0.1266, 0.8734],
       [0.9226, 0.0774],
       [0.8854, 0.1146],
       [0.3556, 0.6444],
       [0.3932, 0.6068],
       [0.9573, 0.0427],
       [0.4889, 0.5111],
       [0.7031, 0.2969],
       [0.8635, 0.1365],
       [0.8541, 0.1459],
       [0.8763, 0.1237],
       [0.6907, 0.3093],
       [0.5845, 0.4155],
       [0.7651, 0.2349],
       [0.1565, 0.8435],
       [0.7641, 0.2359],
       [0.3507, 0.6493],
       [0.841 , 0.159 ],
       [0.7465, 0.2535],
       [0.1868, 0.8132],
       [0.5023, 0.4977],
       [0.8901, 0.1099],
       [0.6188, 0.3812],
       [0.7847, 0.2153],
       [0.1788, 0.8212],
       [0.1365, 0.8635],
       [0.6537, 0.3463]], dtype=float32)

In [15]:
y_test

296    1
682    0
535    0
644    1
623    0
      ..
25     1
84     1
10     1
442    1
762    0
Name: Survived, Length: 178, dtype: int64

In [16]:
for pred, result in zip(prediction, y_test):
    print(np.argmax(pred), result)

0 1
0 0
0 0
0 1
0 0
1 1
0 0
0 0
0 1
1 1
0 1
1 1
1 1
0 0
0 1
0 0
0 0
1 1
0 0
0 0
0 0
0 1
1 0
0 1
0 0
0 0
0 0
0 0
0 0
0 1
1 0
1 0
0 1
1 1
0 1
0 0
0 0
0 1
1 0
1 0
1 1
0 0
1 1
0 0
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
1 1
0 0
0 1
1 1
1 0
1 1
0 0
1 1
0 1
0 1
0 1
0 0
0 0
1 1
0 0
0 0
0 0
1 1
0 0
0 0
0 0
1 1
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 1
1 1
1 0
0 0
0 1
0 0
1 1
0 0
0 0
1 1
0 0
1 0
0 0
0 0
1 1
1 1
1 0
0 1
0 0
1 1
0 0
0 0
0 0
1 0
0 0
1 1
1 1
0 0
0 0
0 0
0 0
0 0
1 1
1 1
0 0
0 0
0 0
0 1
0 0
0 0
1 0
0 0
0 1
1 0
1 1
1 1
0 0
0 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 0
1 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
1 1
0 0
0 0
1 0
1 1
0 0
1 1
0 1
0 0
0 0
0 0
0 1
0 1
0 0
1 1
0 0
1 1
0 0
0 1
1 1
0 1
0 0
0 1
0 1
1 1
1 1
0 0